<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <title>Anime Shows</title>
    </head>
    <body>
    <h1> Anime</h1>
    </body>
</html>