<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" >
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

        <link rel="stylesheet" href="/style.css">
        <title>Edit Anime</title>
    </head>
    <body>
       <!-- START PAGE OVER LAY AND BACKGROUND -->
 <img class="gif" src="https://cutewallpaper.org/25/anime-background-wallpaper-gif/34-anime-wallpaper-gif-iphone-baka-wallpaper.gif">

            <div class="overlay2"></div> 



       
        
       
       
        <!-- BUTTON ON INTRO PAGE  -->
            <div class="d-flex flex-row flex-grow-1 flex-shrink-1 justify-content-center align-items-center" style="padding-top: 239px;"><a class="btn btn-primary text-center border rounded-pill d-xl-flex align-items-center justify-content-xl-center" role="button" style="background: url('https://cutewallpaper.org/25/anime-gifs-wallpaper-pc-hd/anime-wallpaper-4k-pc-gif-31-4k-anime-gif-wallpaper-anime-wallpapers-in-3840x2160-resolution.gif') round, var(--bs-red);background-size: contain, auto;height: 84px;width: 260.4688px;" href="/anime">Lets Start</a></div>
                             




            
        <!-- BOOT STRAP JAVASCRIPT -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</html>





