<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <title>Create</title>
    </head>
    <body>
        <!-- <h1>Create a Smash Character</h1> -->
        <!-- <h3>Fill in the fields:</h3> -->
        <!-- <form action="/smash" method="POST">
            <input type="text" name="name" placeholder="name" /><br/>
            <input type="text" name="img" placeholder="image" /><br/>
            <input type="text" name="origin" placeholder="origin" /><br/>
            <input type="text" name="moveset.b" placeholder="(B Move)" />
            <input type="text" name="moveset.upb" placeholder="(Up-B Move)" />
            <input type="text" name="moveset.downb" placeholder="(Down-B Move)" />
            <input type="text" name="moveset.sideb" placeholder="(Side-B Move)" /><br/>
            <input type="submit" value="Create Character"/>
        </form> -->
    </body>
</html>