@font-face {
    font-family: Anime;
    src: url(anime-ace.regular.ttf);
}

h1, h3 {
    font-family: Anime;
    color: rgb(255, 255, 255);
    
}



.gif{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-color: rgba(0, 0, 0, 0.8);

}
