@font-face {
    font-family: Anime;
    src: url(anime-ace.regular.ttf);
}
body{
    font-family: Anime;

    
}
.text{
   text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
}

.move{
    padding-top: 200px;
}

.gif{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:-50
    
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .95;
    z-index: -45;

}
.overlay2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00298a;
    opacity: .30;
    z-index: -45;

}

.overlay3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .30;
    z-index: -45;

}
.upfront{
    z-index: 10;
}

.middle{

    margin-top: 600px;

}



/* Animation for text on show page */

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255) }
  }

.flx{
display: flex;
}
  




/* code pen intro page */

