@font-face {
    font-family: Anime;
    src: url(anime-ace.regular.ttf);
}
body{
    font-family: Anime;
    
}
.text{
   text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
}



.gif{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.9;

}
